{% extends 'base.html.twig' %}

{% block body %}
    <h1>Produits</h1>
<p>
{{ form_start(new_form) }}
   {#} <input type="submit" value="New"> #}
    <button class="btn btn-lg btn-primary">New</button>
{{ form_end(new_form) }}
</p>
    <table class="table  table-bordered">
        <thead>
            <tr>
                <th>Nom</th>
                <th>T</th>
                <th>Bio</th>
                <th>Poid</th>
                <th>Prix</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
        {% for index, produit in produits %}
            <tr>
                <td>{{ produit.nomProduit }}</td>
                <td>{% if produit.t %}
						T {{produit.t}}
					{% endif %}</td>
                <td>{% if produit.bio %}
						bio 
					{% else %}
						non bio
					{% endif %}
				</td>
                <td>{{ produit.poid }}</td>
                <td>{{ produit.prix }}</td>
                <td>
                {{ form_start(editforms[index]) }}
                 {# } <input type="hidden" value="Edit"> #}
                  <button class="btn btn-lg btn-warning">Edit</button>
                  {{ form_end(editforms[index]) }}
                </td>
                <td>
                {{ form_start(deleteforms[index]) }}
                 {# } <input type="hidden" value="Edit"> #}
                  <button class="btn btn-lg btn-danger">Delete</button>
                  {{ form_end(deleteforms[index]) }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %} {# body #}
