{% extends 'base.html.twig' %}

{% block body %}
<div>
    <h1>Produit</h1>
<p>Nom : {{ produit.nomProduit }} </p>
<p>{% if produit.t %}
	T {{produit.t}}
{% endif %}</p>
<p>{% if produit.bio %}
		bio 
	{% else %}
		non bio
	{% endif %}	</td>
<p>Poid : {{ produit.poid }}</p>
<p>Prix : {{ produit.prix }}</p>
<p>
     {{ form_start(delete_form) }}
         <button class="btn btn-lg btn-danger">Delete</button>
     {{ form_end(delete_form) }}
</p>
<p><a class="btn btn-primary" href="{{ path('produit_index') }}" role="button">Retour à la liste</a>
</p>
</div>
{% endblock %}
