{% extends 'base.html.twig' %}

{% block body %}
    <h1> {{ titre }} edit</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <button class="btn btn-lg btn-primary">Save</button>
    {{ form_end(edit_form) }}

    {{ form_start(delete_form) }}
         <button class="btn btn-lg btn-danger">Delete</button>
    {{ form_end(delete_form) }}

{% endblock %}
