{% extends 'base.html.twig' %}

{% block body %}
    <h1>Contrats</h1>
<div class="col-md-6">
 <p><a href="{{ path('contrat_new') }}">Ajout nouveau contrat</a></p>
 <table class="table table-bordered" >
   <thead>
     <tr>
       <th nbcols="3">Liste des {{ titre }}</th>
      </tr>
    </thead>
    <tbody>
      {% for index, ligne in lignescontrat %}
        <tr>
          <td> {{ ligne.contrat }} </td>
          <td> {{ ligne.produit }}  </td>
           <td> {{ ligne.count }}
           </td>
         </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %} {# body #}
