{% extends 'base.html.twig' %}

{% block body %}
    <h1> {{ titre }}</h1>

    <p>Produit : {{ ligne.produit }} </p>
    <p>Quantité : {{ ligne.nombre }} </p>

    {{ form_start(delete_form) }}
         <button class="btn btn-lg btn-danger">Delete</button>
    {{ form_end(delete_form) }}

{% endblock %}
