{% extends 'base.html.twig' %}

{% block body %}

    <h1>Commandes hors contrats</h1>
    <table class="table">
	<thead>
            <tr>
                <th><a href="{{ path('horscontrat_new') }}">Ajout nouvelle commande hors contrat</a></th>
                <th></th>
            </tr>
    </thead>
	<tr>
	<td>
    <table  class="table-bordered table-condensed">
        <thead>
            <tr>
                <th>Produit</th>
                <th>Personne</th>
                <th>Nombre</th>
            </tr>
        </thead>
        <tbody>
        {% for index, horscontrat in horscontrats %}
            <tr>
                <td>{{ horscontrat.produit }}</td>
                <td>{{ horscontrat.personne }}</td>
                <td>{{ horscontrat.nombre }}</td>
                <td><a href="{{ path('horscontrat_edit', { 'id': horscontrat.id }) }}">modifier</a></td>
 		  		<td>
				  {{ form_start(deleteforms[index]) }}
        		  <input type="submit" value="Delete">
     			  {{ form_end(deleteforms[index]) }}
		  		</td>
           </tr>
        {% endfor %}
        </tbody>
    </table>
	</td>
	<td>
	</td>
	</tr>
	</table>

{% endblock %} {# body #}
