{% extends 'base.html.twig' %}

{% block body %}
{% set nbcol = 1 %}
<h1>Commandes hors contrat par adhérent</h1>
	{% set i = 0 %}
	{% set totalMeunier = 0 %}
	{% set totalReduc = 0 %}
<table>
	{% for nompersonne, personne in personnes %}
		{% if i == 0 %}
			 <tr>
		{% endif %}
		<td>
	<table class="table-bordered table" >
		<thead>
			<tr>
		{% set total = 0.0 %}
					<th>{{ nompersonne }} </th>
					<th align="center">type</th>
					<th align="center">bio</th>
					<th align="center">poid</th>
					<th align="center">nombre</th>
					<th align="center">prix</th>
			</tr>
		</thead>
		<tbody>
				{% for hc in personne['horscontrats'] %}
					{% set cout = ( hc.produit.prix * hc.nombre *  0.93 | round(2))%}
				    {% set total = total + cout %}
			<tr>
				<td> {{ hc.produit.nomProduit }} </td>
				<td align="center">	{% if hc.produit.t %}
							T {{hc.produit.t}}
						{% else %}
							&nbsp;
						{% endif %}</td>
				<td align="center"> {% if hc.produit.bio %}
							bio 
						{% else %}
							&nbsp;
						{% endif %}	</td>
				<td align="right"> {{ hc.produit.poid }} kg  </td>
				<td align="right"> {{ hc.nombre }} </td>
				<td align="right"> {{ cout|number_format(2, '.', ',')}} </td>
			</tr>
				{% endfor %}
			</tbody>
			<tfoot>
			<tr>
				<th colspan="4">Signature</th>
				<td align="center">Total</td>
				<td align="right"> {{ total|number_format(2, '.', ',') }}</td>
			</tr>
		{% set i = i + 1 %}
		{% set totalMeunier = totalMeunier + total %}
            </tfoot>
            </table>
            </td>
		{% if i == nbcol %}
			</tr>
			{% set i = 0 %}
		{% endif %}

		{% endfor %} 
	{% if i != 0 %}
	</tr>
	{% endif %}
		<tr>
			<th>Total du</th>
			<td> {{ totalMeunier|number_format(2, '.', ',') }}	</td>
		</tr>
	</tbody>
</table>

{% endblock %} {# body #}
