{% extends 'base.html.twig' %}

{% block body %}
    <h1>Hors contrat</h1>
<p>Produit : {{ horscontrat.produit }} </p>
<p>Personne : {{ horscontrat.personne }} </p>
<p>Quantité : {{ horscontrat.nombre }} </p>
   
<p>
     {{ form_start(delete_form) }}
        <input type="submit" value="Delete">
     {{ form_end(delete_form) }}
</p>
<p>    
<a href="{{ path('horscontrat_new') }}">Nouvelle commande hors contrat</a>
</p>


    </ul>
{% endblock %}
