{% extends 'base.html.twig' %}

{% block body %}
{% set nbcol = 1 %}
<h1>Contrats par adhérent</h1>
	{% set i = 0 %}
	{% set totalMeunier = 0 %}
	{% set totalCheques = 0 %}
	{% set totalReduc = 0 %}
	<table class="table table-bordered" >
	{% for nompersonne, personne in personnes %}
		{% if personne.cheque != 0 %}
			{% if i == 0 %}
				 <tr>
			{% endif %}
	<td>
	<table class="table table-bordered" >
	<thead>
		<tr>
		{% set total = 0.0 %}
			<th align="center">{{ nompersonne }}</th>
			<th align="center">Produit</th>
			<th align="center">Type</th>
			<th align="center">Bio</th>
			<th align="center">Poid</th>
			<th>Nombre</th>
			<th>Prix</th>
		</tr>
	</thead>
	<tbody>
		{% for contrat in personne['contrats'] %}
			{% set cout = ((contrat.produit.prix  *  0.93)| round(2) ) * contrat.nombre %}
			{% set total = total + cout %}
		<tr>
			<td> &nbsp; </td>
			<td align="center"> {{ contrat.produit.nomProduit }} </td>
			<td align="center"> 
			    {% if contrat.produit.t %}
							T {{contrat.produit.t}}
                {% else %} 
                        &nbsp;
				{% endif %}
			</td>
			<td align="center">	
                {% if contrat.produit.bio %}
						bio 
                {% else %}
						non bio
                {% endif %}	</td>
			<td align="center">	{{ contrat.produit.poid }} kg </td>
			<td align="right"> {{ contrat.nombre }} </td>
			<td align="right"> {{ cout|number_format(2, '.', ',')}} </td>
		</tr>
		{% endfor %}
		<tr>
             <th colspan="5">Signature</th>
             <td align="center">Total</td>
              <td align="right"> {{ total|number_format(2, '.', ',') }}</td>

				{% endif %}
			</tbody>
		</table>
		</td>

		{% set i = i + 1 %}
		{% set totalMeunier = totalMeunier + total %}

		{% if i == nbcol %}
			</tr>
			{% set i = 0 %}
		{% endif %}

		{% endfor %} 
	{% if i != 0 %}
	</tr>
	{% endif %}
    </tbody>
    </table>


{% endblock %} {# body #}
