{% extends 'base.html.twig' %}

{% block body %}
<h1>Contrats de l'adhérent {{tostring}}</h1>
<p><a href="{{ path('contrat_add', { 'id': id }) }}">Ajout nouveau contrat</a></p>
<table class="table table-bordered" >
  <thead>
    <tr>
    {% set total = 0.0 %}
      <th colspan="3">{{tostring}} </th>
    </tr>
  </thead>
  <tbody>
    {% for index, contrat in contrats %}
    {% set cout = contrat.produit.prix * contrat.nombre %}
    {% set total = total + cout %}
      <tr>
        <td> {{ produitString[index]}}        </td>
        <td align="right"> {{ contrat.nombre }} </td>
        <td align="right"> {{ cout}} </td>
        <td>    {{ form_start(editforms[index]) }}
                  <input type="submit" value="Edit">
                {{ form_end(editforms[index]) }}
        </td>
		<td>	{{ form_start(deleteforms[index]) }}
        		  <input type="submit" value="Delete">
     			{{ form_end(deleteforms[index]) }}
		</td>
      </tr>
    {% endfor %}
    {% set totalReduc = (total *  0.93)| round(2) %}
    <tr>
     <td colspan="2">Total</td>
     <td align="right"> {{ total }}</td>
    </tr>
    <tr>
    <td colspan="2">Total tarif AMAP</td>
    <td align="right">  {{ totalReduc }}</td>
	</tr>
    {% set rtotal = totalReduc - cheque %}
    {% if rtotal >= 0.01 or rtotal <= -0.01 %}
    <tr>
      <td colspan="2">Diff&eacute;rence</td>
      <td align="right"> {{ rtotal }} </td>
    </tr>
    {% endif %}
  </tbody>
</table>
{% endblock %} {# body #}
