{% extends 'base.html.twig' %}

{% block body %}
    <h1> {{ titre }}</h1>
<div class="col-md-6">
 <p><a href="{{ path( path_new ) }}">Ajout nouveau contrat</a></p>
 <table class="table table-bordered" >
   <thead>
     <tr>
       <th>Adhérent</th>
      </tr>
    </thead>
    <tbody>
      {% for index, contrat in contrats %}
        <tr>
          <td>{{ contrat.personne }}</td>
          <td>{{ form_start(editforms[index]) }}
                  <input type="submit" value="Edit">
                  {{ form_end(editforms[index]) }}
          </td>
           <td> {{ form_start(deleteforms[index]) }}
                  <input type="submit" value="Delete">
                  {{ form_end(deleteforms[index]) }}
           </td>
         </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %} {# body #}
