{% extends 'base.html.twig' %}

{% block body %}
<h1>{{ titre }} par adhérent</h1>
	{% set totalMeunier = 0 %}
	{% set totalCheques = 0 %}
	{% set totalReduc = 0 %}

	{% for nompersonne, personne in personnes %}
	    {% set total = 0.0 %}
	       <table class="table-bordered table">
	       <thead>
	        <tr>
	           <th align="center">{{ nompersonne }}</th>
                <th align="center"> Signature distribution </th>
	        </tr>
	         </thead>
	         <tbody>
	        <tr>
	        <td>
   <table class="table-bordered table" >
       <thead>
        <tr>
            <th>Produit</th>
            <th align="right">Nombre</th>
            <th align="right">Prix</th>
        </tr>
    </thead>	
    <tbody>
		{% for ligne in personne['lignes'] %}
			{# twig commenttwig commentset cout = ((ligne.produit.prix  *  0.95)| round(2) ) * ligne.nombre #}
			{% set cout = (ligne.produit.prix ) * ligne.nombre %}
			{% set total = total + cout %}
		<tr>
			<td> {{ ligne.produit }} </td>
			<td align="right">
			 {% if ligne.nombre > 1 %}
			 <b>
			 {% endif %}
			 {{ ligne.nombre }}
             {% if ligne.nombre > 1 %}
             </b>
             {% endif %}			 
			  </td>
			<td align="right"> {{ cout|number_format(2, '.', ',')}} </td>
		</tr>
		{% endfor %}
		<tr>
             <th colspan="2">Total</th>
              <td align="right" > {{ total|number_format(2, '.', ',') }}</td>
        </tr>
     </tbody>
		{% set totalMeunier = totalMeunier + total %}
	</table>
    </td>
    <td>&nbsp;</td>
    </tr>
     </tbody>
    </table>
	{% endfor %}
	<table>
	<tbody>
	<tr>
	   <th>Total du</th>
	   <td colspan="4">&nbsp;</td>
        <td> {{ totalMeunier }}</td>

    </td>
    </tr>
    </tbody>
    </table>
</table>

{% endblock %} {# body #}
