{% extends 'base.html.twig' %}

{% block body %}
<h1>Contrats par adhérent</h1>
	{% set totalMeunier = 0 %}
	{% set totalCheques = 0 %}
	{% set totalReduc = 0 %}
	<table>

	{% for nompersonne, personne in personnes %}
		{% if personne.cheque != 0 %}
	    {% set total = 0.0 %}
	        <tr><td>
   <table class="table-bordered table" >
       <thead>
        <tr>

            <th align="center">{{ nompersonne }}</th>
            <th align="center">Produit</th>
            <th align="center">Type</th>
            <th align="center">Bio</th>
            <th align="center">Poid</th>
            <th>Nombre</th>
            <th>Prix</th>
        </tr>
    </thead>	<tbody>
		{% for ligne in personne['lignes'] %}
			{% set cout = ((ligne.produit.prix  *  0.93)| round(2) ) * ligne.nombre %}
			{% set total = total + cout %}
		<tr>
			<td> &nbsp;</td>
			<td align="center"> {{ ligne.produit.nomProduit }} </td>
			<td align="center"> 
			    {% if ligne.produit.t %}
							T {{ligne.produit.t}}
                {% else %} 
                        &nbsp;
				{% endif %}
			</td>
			<td align="center">	
                {% if ligne.produit.bio %}
						bio 
                {% else %}
						non bio
                {% endif %}	</td>
			<td align="center">	{{ ligne.produit.poid }} kg </td>
			<td align="right"> {{ ligne.nombre }} </td>
			<td align="right"> {{ cout|number_format(2, '.', ',')}} </td>
		</tr>
		{% endfor %}
		<tr>
             <th colspan="5">Signature</th>
             <td align="center">Total</td>
              <td align="right" > {{ total|number_format(2, '.', ',') }}</td>
        </tr>
     </tbody>
		{% set totalMeunier = totalMeunier + total %}
	</table>
    </td>
    </tr>
	{% endif %}
	{% endfor %}
	<tr>
	<td>
	<table>
	<tbody>
	<tr>
	   <th>Total du</th>
	   <td colspan="4">&nbsp;</td>
        <td> {{ totalMeunier }}</td>
     </tr>
     </tbody>
    </table>
    </td>
    </tr>
</table>

{% endblock %} {# body #}
