{% extends 'base.html.twig' %}

{% block body %}
<div>
    <h1>Nouveau {{ titre }}</h1>

    {{ form_start(form) }}
        {{ form_row(form.personne) }}
      <h3>Lignes de commande</h3>
        <ul class="lignes" data-prototype="{{ form_widget(form.lignes.vars.prototype)|e('html_attr')}}">
            {# iterate over each existing Line and render its fields #}
            {% for lignecontrat in form.lignes %}
                <li>{{ form_row(lignecontrat.produit) }} - {{ form_row(lignecontrat.nombre) }}</li>
            {% endfor %}
        </ul>
        {#}<input type="hidden" value="Create" />#}
        <button class="btn btn-lg btn-primary">Create</button>
    {{ form_end(form) }}

</div>
{% endblock %}
{% block custompage_script %}
{% include 'contrat/contrat_form.js.twig' %}
{% endblock %}
