{% extends 'base.html.twig' %}

{% block body %}
<div>
<h1>Contrat</h1>
<p>Personne : {{ contrat.personne }} </p>
<table class="table table-bordered" >
   <thead>
     <tr>
       <th>Produit</th>
       <th>Nombre</th>
      </tr>
    </thead>
    <tbody>
      {% for index, ligne in contrat.lignes %}
        <tr>
          <td>{{ ligne.produit }}</td>
          <td>{{ ligne.nombre }}</td>
          <td><a href="{{ path('lignecontrat_edit', { 'id': ligne.id }) }}">modifier</a></td>
          <td>  {{ form_start(delete_lignes[index]) }}
                  <input type="submit" value="Delete">
                {{ form_end(delete_lignes[index]) }}
          </td>
         </tr>
      {% endfor %}
    </tbody>
  </table>
{{ form_start(delete_form) }}
    <input type="submit" value="Delete">
{{ form_end(delete_form) }}

<p>    
<a href="{{ path('contrat_new') }}">Nouveau contrat</a>
</p>

</div>
{% endblock %}
