{% extends 'base.html.twig' %}

{% block body %}
<div>
<h1>{{ titre }}</h1>
<p>Personne : {{ contrat.personne }} </p>
<table class="table table-bordered" >
   <thead>
     <tr>
       <th>Produit</th>
       <th>Nombre</th>
      </tr>
    </thead>
    <tbody>
      {% for index, ligne in contrat.lignes %}
        <tr>
          <td>{{ ligne.produit }}</td>
          <td>{{ ligne.nombre }}</td>
          <td>  {{ form_start(edit_lignes[index]) }}
               {#   <input type="submit" value="Edit"> #}
                <button class="btn btn-lg btn-warning">Edit</button>
                  
                {{ form_end(edit_lignes[index]) }}</td>
          <td>  {{ form_start(delete_lignes[index]) }}
                 {# <input type="submit" value="Delete"> #}
                  <button class="btn btn-lg btn-danger">Delete</button>
                  
                {{ form_end(delete_lignes[index]) }}
          </td>
         </tr>
      {% endfor %}
    </tbody>
  </table>
  <table>
  <tr>
  <td>
   {{ form_start(edit_form) }}
    {# <input type="submit" value="Edit"> #}
    <button class="btn btn-lg btn-warning">Edit</button>
    
{{ form_end(edit_form) }}
</td>
<td>
{{ form_start(delete_form) }}
    {# <input type="submit" value="Delete"> #}
    <button class="btn btn-lg btn-danger">Delete</button>
{{ form_end(delete_form) }}
</td>
<td>
{{ form_start(new_form) }}
   {#} <input type="submit" value="New"> #}
    <button class="btn btn-lg btn-primary">New</button>
    
{{ form_end(new_form) }}
</td>
</tr>
  </table>
</div>
{% endblock %}
